@import '../baseline.less';

.car{
	margin: 5px 0 0;

	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 10;
	position: relative;

	.transition(background 200ms linear);
	.transition(opacity 200ms linear);

	&.ghost{
		background: #fff;
		opacity: .4;
		position: absolute;
		top: 20px;
	}

	&[data-skin="0"]{
		background: url('car-0.png') center center no-repeat;
		background-size: contain;
	}

	&[data-skin="1"]{
		background: url('car-1.png') center center no-repeat;
		background-size: contain;
	}

	&[data-skin="2"]{
		background: url('car-2.png') center center no-repeat;
		background-size: contain;
	}

	&[data-skin="3"]{
		background: url('car-3.png') center center no-repeat;
		background-size: contain;
	}

	&[data-skin="4"]{
		background: url('car-8.png') center center no-repeat;
		background-size: contain;
	}

	.car-label{
		background: #8d20f2;
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 18px;
		.font(16, 400);
		.border-radius(9px);
		box-shadow: 0 0 0 2px rgba(24, 24, 24, .8);

		color: #fff;
	}
}