@import '../baseline.less';

body{
	background: #eee;
}

.map{
	width: 1024px;
	height: 768px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -1024 / 2px;
	margin-top: -768 / 2px;

	background: url('game-bg.jpg');
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;

	.map-center{
		position: absolute;
		width: 40px * 7;
		height: 40px * 7;
		-webkit-transform: rotate(45deg);
		left: 372px;
		top: 244px;
	}

	.map-streets{
	}

}

.street{
	width: 40px * 7;
	height: 40px;

	&.nw-street{
		position: absolute;
		-webkit-transform: rotate(-225deg);
		right: 485px;
		bottom: 477px;
	}
	&.ne-street{
		position: absolute;
		-webkit-transform: rotate(225deg);
		left: 485px;
		bottom: 477px;
	}
	&.se-street{
		position: absolute;
		-webkit-transform: rotate(-45deg);
		left: 485px;
		top: 477px;
	}
	&.sw-street{
		position: absolute;
		-webkit-transform: rotate(45deg);
		right: 485px;
		top: 477px;
	}

	.street-bg{
		position: absolute;
		height: 500px;
		width: 100%;
	}
	
	.street-queue{
		position: absolute;
		right: 60px;


		.queue-cars{

		}
	}

	.street-gate{
		position: absolute;
		left: 50px;
		width: 70px;
		height: 40px;
		.border-radius(2px);

		.transition();

		&.active{
			background: #aeee00;
			opacity: .7;
		}
	}		
}