@import '../baseline.less';

.wrap-map{
	position: fixed;
	left: 50%;
	top: 50%;

	.map{
		// -webkit-transform: rotate(45deg);
		.clearfix();
	}
}

.square{
	float: left;
	color: rgba(0,0,0,.2);

	.transition();

	&[data-color="1"]{
		background: rgba(0,0,0,.1);
	}
	&[data-color="2"]{
		background: rgba(0,0,0,.15);
	}
	&[data-color="3"]{
		background: rgba(0,0,0,.2);
	}
	&[data-color="4"]{
		background: rgba(0,0,0,.25);
	}
	&[data-color="5"]{
		background: rgba(0,0,0,.3);
	}

	&.center{
		background: #fff;
	}

	&.gate-square{
		background: #aeee00;
	}
}

.car{
	width: 20px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	background: #333;
	margin: 0 0 0 10px;

	&.move-up{
		.transition(all 600ms linear);
		-webkit-transform: translateY(-300px);
	}

	&.ghost{
		opacity: .4;
	}

	div{
		color: #fff;
		.font(24, 400);
		text-align: center;
		display: block;
	}
}